/* always aching, sometimes mending */

body.project2 {
    overflow: scroll;
}

header {
    /* box-sizing: border-box;
    border: 5px dotted black;
    background: wheat; */
    font-family: 'Siro-Regular', sans-serif;
    padding: 1.1% 0% 0.3% 5%;
    text-align: left;
    width: 80%; /* Ensures the header extends full width */
    position: fixed; /* Fixes the header at the top of the viewport */
    top: 0; /* Aligns the header at the top */
    left: 15%; /* Aligns the header to the left */
    z-index: 100; /* Higher z-index to ensure it stays on top of other content */

}

header h1 {
    font-size: 1.4rem; /* This is scalable and relative to the root font size */
}
 

.vertical-image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

/* New class for individual image boxes within the vertical layout */

.vertical-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.vertical-image_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative; /* Allows absolute positioning within */
}
.image-fit {
    width: auto;
    height: auto;
    margin-bottom: 20px;
    position: relative; /* Default positioning */
}
.aligned-left {
    position: absolute;
    left: 10%; /* Distance from left edge */
    top: 0; /* Align to the top of the container */
}
.centered-image {
    width: 60%; /* Centered images are smaller */
}


.info-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    position: relative; /* This is needed to position the pseudo-element relative to the link */
    display: inline-block; /* This makes the element only as wide as its content */
}

.info-link:after {
    content: ''; /* Required for the pseudo-element to work */
    display: block; /* Makes it a block element so it can have width and height */
    width: 100%; /* Makes the line as wide as the text */
    height: 2px; /* Thickness of the line */
    background-color: black; /* Color of the line */
    margin-top: 5px; /* Spacing between the text and the line */
}